html {
  margin: 0px;
  width: 100%;
  height: 100%;
  min-width: 100%;
  min-height: 100%;
  font-size: medium;
  font-family: "Trebuchet MS";
  color: #000000;
}
.fullscreen {
  height: 100%;
  width: 100%;
  margin: 0%;
}
.background {
  background-image: url("bg.jpg");
}
.form {
  padding: 0px ;
  min-width: 450px;
  min-height: 250px;
  background-color: #FFFFFF;
}
.centered {
  position: absolute;
  margin-left: 35%;
  top: 30%;
}
.form-item {
  padding: 0px 5px;
  vertical-align: middle;
}
.form-item input {
  color: #4093ff!important;
  text-align: center;
  width: 400px;
  margin-left: 5px;
}
.tab-content {
  padding: 25px 15px;
}
.tabs {
  margin-right: 0px;
}
.nav-item {
  list-style: none;
  min-width: 150px;
  display: inline-block !important;
  background-color: #FFFFFF;
  width: 150px;
  border: hidden;
  text-align: center;
  font-family: "Trebuchet MS", Verdana, sans-serif;
  font-size: medium;
  margin: 0px;
}
.nav-item a {
  color: black!important;
  border-bottom-color: #98A6AD;
  border-bottom-style: solid;
  border-bottom-width: thin;
}
.nav-item a:hover {
  border-bottom-style: solid;
  border-bottom-color: #4093ff;
}
a.active {
  border-bottom-style: solid;
  border-bottom-color: #4093ff!important;
  background-color: #EAEAEA;
}
.div-btn {
  text-align: center;
}
.btn {
  border: 1px solid #4093ff!important;
  background-color: #FAFAFA;
}
.btn:hover {
  background-color: #EAEAEA;
}
input::-webkit-input-placeholder {
  color: #4093ff !important;
  font-family: "Trebuchet MS", Verdana, sans-serif;
  font-style: italic;
  text-align: center;
  font-size: small;
}
input:-moz-placeholder {
  /* Firefox 18- */
  color: #4093ff !important;
  font-family: "Trebuchet MS", Verdana, sans-serif;
  font-style: italic;
  text-align: center;
  font-size: small;
}
input::-moz-placeholder {
  /* Firefox 19+ */
  color: #4093ff !important;
  font-family: "Trebuchet MS", Verdana, sans-serif;
  font-style: italic;
  text-align: center;
  font-size: small;
}
input:-ms-input-placeholder {
  color: #4093ff !important;
  font-family: "Trebuchet MS", Verdana, sans-serif;
  font-style: italic;
  text-align: center;
  font-size: small;
}
.message {
  font-style: italic;
  font-size: small;
}
.list {
  min-width: 450px;
  min-height: 350px;
  background-color: #FFFFFF;
}
.centered-2 {
  position: absolute;
  margin-left: 35%;
  top: 20%;
}
.form-2 {
  margin: 0px;
  padding: 15px;
  border-bottom: 1px solid #4093ff;
}
.check {
  color: green;
  padding: 0px 10px;
}
.remove {
  color: red;
  padding: 0px 10px;
}
.task {
  padding: 10px 5px;
  height: 30px;
  width: 450px;
  border-bottom: 1px solid #EAEAEA;
}
.nostyle {
  text-decoration: none;
  list-style: none;
}
.list-item {
  padding: 0px 5px;
  width: 350px;
  display: inline-block;
  margin: 0px;
}
.list-item i {
  color: #4093ff;
  padding: 0px 5px;
}
.tasks-list {
  margin-left: 0;
  padding: 0;
}
